@using DPMS.EmailEngine.EmailTemplates;
@model UserAddedToDPIAVM;

<h1>DPMS Notification System</h1>
<p>Hello @Model.FullName</p>
<p>You have been added to DPIATitle @Model.DPIATitle for @Model.SystemName as @Model.RoleName at @Model.Timestamp</p>